<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <title>Dependency Registry Browser - {{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="le contenu">
    <meta name="keywords" content="FUCK!!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/variables.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/components.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <nav class="navbar">
        <a href="/" class="site-title">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
            <h1>Dependency Registry Browser</h1>
        </a>

        {% if perms.pack.view_packageentry %}
            <ul class="nav-menu">
                <li class="nav-item {% if page == 'packages' %}current{% endif %}">
                    <a href="{% url 'package' %}">Packages</a>
                </li>
                {% if perms.auth.view_user %}
                    <li class="nav-item {% if page == 'users' %}current{% endif %}">
                        <a href="{% url 'users' %}">Users</a>
                    </li>
                {% endif %}
                {% if perms.pack.delete_packageentry %}
                    <li class="nav-item {% if page == 'admin' %}current{% endif %}">
                        <a href="{% url 'admin_db' %}">Admin</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="flex items-center gap-sm">
            {% if user.is_authenticated %}
                <a class="btn btn-icon" href="{% url 'profile' %}">
                    <i class="fa-solid fa-user"></i>
                    {{ user.username }}
                </a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-icon">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            {% else %}
                <a class="btn" href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </a>
            {% endif %}
        </div>
    </nav>
</header>

<main class="content">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>
        <a href="https://github.com/Silmaen/DepManagerServer"><i class="fa-brands fa-github"></i>
            Package Registry Browser</a>
        {% if version %}· Version: {{ version.number }} ({{ version.hash }}){% endif %}
    </p>
    <p>© Designed by Argawaen.</p>

</footer>

{% block script_content %}{% endblock %}
</body>
</html>