{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    <div class="Article">
        <div class="ArticleHeader">
            <h3><i class="fa-solid fa-wrench"></i> {% trans 'Maintenance in progress' %}</h3>
        </div>
        <div class="ArticleContent">
            <div class="maintenance-container">
                <div class="maintenance-icon">
                    <div class="loader"></div>
                </div>
                <div class="maintenance-message">
                    <h4>{% trans 'Database under maintenance' %}</h4>
                    <p>{% trans 'Please wait. A maintenance operation is in progress on the database.' %}</p>
                    <p class="maintenance-warning">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        {% trans 'This operation may take several minutes. Do not shut down the server.' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="ArticleFooter">
            <p class="text-muted">
                <i class="fa-solid fa-clock-rotate-left"></i>
                {% trans 'This page automatically refreshes every 30 seconds' %}
            </p>
        </div>
    </div>
{% endblock %}
