{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}
<div class="ArticleContent">
    <form method="post">
        {% csrf_token %}
        <table class="title_tab centering-row">
            <tr>
                <td>name</td>
                <td>version</td>
                <td>os</td>
                <td>arch</td>
                <td>kind</td>
                <td>compiler</td>
                <td></td>
            </tr>
            <tr>
                <td><input type=search name="name" id="name"></td>
                <td><input type=search name="version" id="version"></td>
                <td><input type=search name="os" id="os" list=oses value=any>
                    <datalist id=oses>
                        <option>any
                        <option>windows
                        <option>linux
                    </datalist>
                </td>
                <td><input type=search name="arch" id="arch" list=arches value=any>
                    <datalist id=arches>
                        <option>any
                        <option>x64
                        <option>aarch64
                    </datalist>
                </td>
                <td><input type=search name="kind" id="kind" list=kinds value=any>
                    <datalist id=kinds>
                        <option>any
                        <option>static
                        <option>shared
                        <option>header
                    </datalist>
                </td>
                <td><input type=search name="compiler" id="compiler" list=compilers value=any>
                    <datalist id=compilers>
                        <option>any
                        <option>gnu
                        <option>msvc
                    </datalist>
                </td>
                <td>
                    <button id="filter" class="button-icon"><span class="material-symbols-outlined">filter_alt</span>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="PackageList">
    {% for pack in package %}
    <div class="Package folding_box" id="{{ pack.name }}">
        <div class="PackageHeader folding_box_header" onclick="toggleContent('{{ pack.name }}')">
            <div class="PackageName">{{ pack.name }}</div>
            <a href="{% url 'detail_package' pack.name%}" class="button-icon last-button">
                <span class="material-symbols-outlined">info</span>
            </a>
        </div>
        <div class="folding_box_content">
            {% for version, flavors in pack.versions.items %}
            <div class="Package folding_box" id="{{ pack.name }}_{{ version }}">
                <div class="PackageVersion folding_box_header" onclick="toggleContent('{{ pack.name }}_{{ version }}')">
                    {{ version }}
                </div>
                <div class="PackageFlavors folding_box_content">
                    {% for flavor in flavors %}
                    <div class="PackageFlavor">
                        {{ flavor.os }}, {{ flavor.arch }}, {{ flavor.kind }}, {{ flavor.compiler }}
                        {{ flavor.glibc }} ({{ flavor.build_date }})
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{{ debug | safe }}
{% endblock %}

{% block script_content %}
<script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
