{% extends 'base.html' %}
{% load static %}
{% load dict_extras %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}
    <div class="ArticleContent">
        <form method="post">
            {% csrf_token %}
            <table class="title_tab centering-row">
                <tr>
                    <td>name</td>
                    <td>version</td>
                    {% for key in filter_possible.keys %}
                        <td>{{ key }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <td><input type=search name="name" id="name" value="{{ filter.name }}"></td>
                    <td><input type=search name="version" id="version" value="{{ filter.version }}"></td>
                    {% for key,possible in filter_possible.items %}
                        <td><select name="{{ key }}" id="{{ key }}">
                            {% for option in possible %}
                                <option value="{{ option }}"
                                        {% if filter|get_item:key == option %}selected{% endif %}>{{ option }}</option>
                            {% endfor %}
                        </select>
                        </td>
                    {% endfor %}
                    <td>
                        <button id="filter" class="button-icon"><span
                                class="material-symbols-outlined">filter_alt</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="PackageList">
        {% for pack in package %}
            <div class="Package folding_box" id="{{ pack.name }}">
                <div class="PackageHeader folding_box_header" onclick="toggleContent('{{ pack.name }}')">
                    <div class="PackageName">{{ pack.name }}</div>
                    <a href="{% url 'detail_package' pack.name %}" class="button-icon last-button">
                        <span class="material-symbols-outlined">info</span>
                    </a>
                </div>
                <div class="folding_box_content">
                    {% for version, flavors in pack.versions.items %}
                        <div class="Package folding_box" id="{{ pack.name }}_{{ version }}">
                            <div class="PackageVersion folding_box_header version-row"
                                 onclick="toggleContent('{{ pack.name }}_{{ version }}')">
                                <span class="version-left">
                                    {{ version }}
                                </span>
                                <span class="version-right">
                                    {% with latest=flavors|dictsortreversed:"build_date"|first %}
                                        {{ latest.build_date }}
                                    {% endwith %}
                                </span>
                            </div>
                            <div class="PackageFlavors folding_box_content">
                                {% for flavor in flavors %}
                                    <div class="PackageFlavor">
                                        <span>{{ flavor.os }}</span>
                                        <span>{{ flavor.arch }}</span>
                                        <span>{{ flavor.kind }}</span>
                                        <span>{{ flavor.abi }}</span>
                                        <span>{{ flavor.glibc }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ debug | safe }}
{% endblock %}

{% block script_content %}
    <script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
