{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/folding_box.css' %}"/>
{% endblock %}

{% block content %}
    <div class="Article">
        <div class="ArticleHeader">
            <div class="detail-header">
                <h3><i class="fa-solid fa-box"></i> {{ package.name }}</h3>
                <a href="{% url 'package' %}" class="btn btn-icon">
                    <i class="fa-solid fa-arrow-left"></i>
                    {% trans 'Back' %}
                </a>
            </div>
        </div>
        <div class="ArticleContent">
            {% if package.description %}
                <p>{{ package.description|linebreaks }}</p>
            {% else %}
                <p class="text-muted">
                    <i class="fa-solid fa-circle-info"></i>
                    {% trans 'No description available for this package.' %}
                </p>
            {% endif %}
            {% if package.dependencies %}
                <h3>{% trans 'Dependencies:' %}</h3>
                {% for dep in package.dependencies %}
                    <div class="flavor-badges">
                        <span class="flavor-badge">
                            {% if dep.name %}{{ dep.name }}{% endif %}/
                            {% if dep.version %}{{ dep.version }}{% else %}*{% endif %}
                        </span>

                        {% if dep.os %}
                            <span class="flavor-badge">
                                <i class="fa-brands fa-{% if dep.os == 'Linux' %}linux{% elif dep.os == 'Windows' %}windows{% else %}diaspora{% endif %}"></i>
                                {{ dep.os }}
                            </span>
                        {% endif %}
                        {% if dep.arch %}
                            <span class="flavor-badge">
                                <i class="fa-solid fa-microchip"></i> {{ dep.arch }}
                            </span>
                        {% endif %}
                        {% if dep.kind %}
                            <span class="flavor-badge">
                                <i class="fa-solid fa-cube"></i> {{ dep.kind }}
                            </span>
                        {% endif %}
                        {% if dep.abi %}
                            <span class="flavor-badge">
                                <i class="fa-solid fa-code"></i>{{ dep.abi }}
                            </span>
                        {% endif %}
                        {% if dep.glibc %}
                            <span class="flavor-badge">
                                <i class="fa-solid fa-book"></i>
                                glibc {{ dep.glibc }}
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-muted">
                    <i class="fa-solid fa-circle-info"></i>
                    {% trans 'This package has no dependencies.' %}
                </p>
            {% endif %}
        </div>
        <div class="ArticleContent">
            <div class="package-detail-grid">
                {% for version, flavors in package.versions.items %}
                    <div class="package-version-box folding_box" id="{{ version }}">
                        <div class="package-version-header folding_box_header"
                             onclick="toggleContent('{{ version }}')">
                            <div class="version-badge">
                                <i class="fa-solid fa-tag"></i>
                                {{ version }}
                            </div>
                            <div class="version-date">
                                <i class="fa-solid fa-calendar"></i>
                                {% with latest=flavors|dictsortreversed:"build_date"|first %}
                                    {{ latest.build_date|date:"d/m/Y" }}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="package-flavors folding_box_content">
                            {% for flavor in flavors %}
                                <div class="flavor-detail-item">
                                    <div class="flavor-badges">
                                        <span class="flavor-badge">
                                            <i class="fa-brands fa-{% if flavor.os == 'Linux' %}linux{% elif flavor.os == 'Windows' %}windows{% else %}diaspora{% endif %}"></i>
                                            {{ flavor.os }}
                                        </span>
                                        <span class="flavor-badge">
                                            <i class="fa-solid fa-microchip"></i>
                                            {{ flavor.arch }}
                                        </span>
                                        <span class="flavor-badge">
                                            <i class="fa-solid fa-cube"></i>
                                            {{ flavor.kind }}
                                        </span>
                                        <span class="flavor-badge">
                                            <i class="fa-solid fa-code"></i>
                                            {{ flavor.abi }}
                                        </span>
                                        {% if flavor.glibc %}
                                            <span class="flavor-badge">
                                                <i class="fa-solid fa-book"></i>
                                                glibc {{ flavor.glibc }}
                                            </span>
                                        {% endif %}
                                    </div>
                                    <span class="flavor-badge flavor-size-badge">
                                        <i class="fa-solid fa-file-zipper"></i>
                                        {{ flavor.package_size }}
                                    </span>
                                    {% if perms.pack.delete_packageentry %}
                                        <form method="post" action="{% url 'delete_package' flavor.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-icon btn-danger"
                                                    title="{% trans 'Delete this flavor' %}"
                                                    onclick="return confirm('{% trans 'Are you sure you want to delete this flavor?' %}')">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_content %}
    <script src="{% static 'js/folding_box.js' %}"></script>
{% endblock %}
