{% extends 'base.html' %}

{% block content %}
<div class="ArticleContent user_form">
    <h2>{{ package.name }} {{ package.version }}</h2>
    <a href="{% url 'package' %}" class="button"><span class="material-symbols-outlined">undo</span></a>
</div>
    <table class="PackageList">
    {% for flavor in package.combinations %}
        <tr class="PackageDetail">
            <td>{{ flavor.os }}</td>
            <td>{{ flavor.arch }}</td>
            <td>{{ flavor.kind }}</td>
            <td>{{ flavor.compiler }}</td>
            <td>{{ flavor.package.size }}</td>
            {% if perms.pack.delete_packageentry %}
            <td><form method="post" action="{% url 'delete_package' flavor.pk %}">
                {% csrf_token %}
                <button type="submit" class="button-icon danger"><span class="material-symbols-outlined">delete</span></button>
            </form></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
