---
services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    ports:
      - "8123:80"
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - TZ:${TZ:-Europe/Paris}            # The time zone to use in the container.
      - PUID:${PUID:-1000}                    # UID used for file writing.
      - PGID:${PGID:-1000}
      - DEBUG=${DEBUG:-false}
      - GIT_HASH=${GIT_HASH:-unknown}
      - DOMAIN_NAME=${DOMAIN_NAME:-example.com}
      - ADMIN_NAME=${ADMIN_NAME:-admin}
      - ADMIN_PASSWD=${ADMIN_PASSWD:-admin}
    volumes:
      - ./data:/app/data