{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article">
        <div class="ArticleHeader">
            <h3><i class="fa-solid fa-right-to-bracket"></i> {% trans 'Login' %}</h3>
        </div>
        <div class="ArticleContent">
            <div class="login-form">
                <p class="form-description">{% trans 'Please log in to access the content' %}</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">
                            <i class="fa-solid fa-user"></i>
                            {{ form.username.label }}
                        </label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="form-error">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">
                            <i class="fa-solid fa-lock"></i>
                            {{ form.password.label }}
                        </label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="form-error">{{ form.password.errors }}</div>
                        {% endif %}
                    </div>
                    {% if form.non_field_errors %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary w-full">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        {% trans 'Log in' %}
                    </button>
                </form>

                <div class="login-links">
                    <a class="btn" href="{% url 'password_reset' %}">
                        <i class="fa-solid fa-lock-open"></i>
                        {% trans 'Forgot password?' %}
                    </a>
                    <a class="btn" href="{% url 'register' %}">
                        <i class="fa-solid fa-user-plus"></i>
                        {% trans 'Create an account' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {% trans 'Back' %}
            </a>
        </div>
    </div>
{% endblock %}
