{% extends 'registration/base_registration.html' %}


{% block mainsection %}
    <div class="Article user_form">
        <div class="ArticleHeader">
            <h4><i class="fa-solid fa-circle-user"></i>{{ user }}</h4>
        </div>
        <div class="ArticleContent user_form">
            <p>Password successfully changed.</p>
        </div>
        <div class="ArticleFooter">
            <a class="button" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                Back
            </a>
        </div>
    </div>
{% endblock %}