{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article user_form">
        <div class="ArticleHeader">
            <h4><i class="fa-solid fa-envelope-circle-check"></i> {% trans 'Password reset' %}</h4>
        </div>
        <div class="ArticleContent">
            <h5>{% trans 'Reset message sent' %}</h5>
            <p>{% trans 'We have sent you an email with instructions to change your password, provided an account exists with the address you provided. You should receive this message shortly.' %}</p>
            <p>{% trans 'If you do not receive a message, please check that you entered the address you registered with and check your spam folder.' %}</p>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {% trans 'Back' %}
            </a>
        </div>
    </div>
{% endblock %}
