{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article user_form">
        <div class="ArticleHeader">
            <h4><i class="fa-solid fa-key"></i> {% trans 'Password reset' %}</h4>
        </div>
        <div class="ArticleContent">
            <p>{% trans 'Please enter your new password twice to confirm.' %}</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">
                        <i class="fa-solid fa-lock"></i>
                        {% trans 'New password' %}:
                    </label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">
                        <i class="fa-solid fa-lock"></i>
                        {% trans 'Confirm password' %}:
                    </label>
                    {{ form.new_password2 }}
                </div>
                <button id="submit" class="btn">
                    <i class="fa-solid fa-check"></i>
                    {% trans 'Submit' %}
                </button>
            </form>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'login' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {% trans 'Back' %}
            </a>
        </div>
    </div>
{% endblock %}
