{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article user_form">
        <div class="ArticleHeader">
            <h4><i class="fa-solid fa-circle-check"></i> {% trans 'Password change' %}</h4>
        </div>
        <div class="ArticleContent">
            <h5>{% trans 'Password successfully changed' %}</h5>
            <p>{% trans 'Your password has been updated successfully.' %}</p>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {% trans 'Back' %}
            </a>
        </div>
    </div>
{% endblock %}
