{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article user_form">
        <div class="ArticleHeader">
            <h4><i class="fa-solid fa-circle-check"></i> {% trans 'Password reset' %}</h4>
        </div>
        <div class="ArticleContent">
            <h5>{% trans 'Password update complete' %}</h5>
            <p>{% trans 'Your new password has been set. You can now log in.' %}</p>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'login' %}">
                <i class="fa-solid fa-right-to-bracket"></i>
                {% trans 'Login' %}
            </a>
        </div>
    </div>
{% endblock %}
