{% extends 'registration/base_registration.html' %}
{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4 class="centering"><span class="material-symbols-outlined">account_circle</span>{{ user }}</h4>
    </div>
    <div class="ArticleContent user_form">
        <p>Voici les informations de profils vous concernant</p>
        <table class="centering-row">
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">account_circle</span> Username:</td><td>{{user.username}}</td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">person</span> Prénom:</td><td>{{user.first_name}}</td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">group</span> Nom de famille:</td><td>{{user.last_name}}</td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">mail</span> Courriel:</td><td>{{user.email}}</td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">history</span> dernière connexion:</td><td>{{user.last_login}}</td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">package</span>Package </td><td>
                {% if perms.pack.view_packageentry %}<span class="material-symbols-outlined">visibility</span>
                {% else %}<span class="material-symbols-outlined">visibility_off</span>{% endif %}
                {% if perms.pack.add_packageentry %}<span class="material-symbols-outlined">file_upload</span>
                {% else %}<span class="material-symbols-outlined">file_upload_off</span>{% endif %}
                {% if perms.pack.delete_packageentry %}<span class="material-symbols-outlined">do_not_disturb</span>
                {% else %}<span class="material-symbols-outlined">do_not_disturb_off</span>{% endif %}
            </td></tr>
            <tr><td class="centering-row-left"><span class="material-symbols-outlined">person</span>User</td><td>
                {% if perms.connector.view_userprofile %}<span class="material-symbols-outlined">visibility</span>
                {% else %}<span class="material-symbols-outlined">visibility_off</span>{% endif %}
                {% if perms.connector.change_userprofile %}<span class="material-symbols-outlined">edit</span>
                {% else %}<span class="material-symbols-outlined">edit_off</span>{% endif %}
            </td></tr>
        </table>
        <a class="button" href="{% url 'password' %}"><span class="material-symbols-outlined">password</span>Changer passwd</a>
        <a class="button" href="{% url 'profile_edit' %}"><span class="material-symbols-outlined">manage_accounts</span>Éditer le profil</a>
    </div>
    <div class="ArticleFooter">
        <a class="button" href="{% url 'index' %}">
            <span class="material-symbols-outlined">arrow_circle_left</span>
            Retour
        </a>
    </div>
</div>
{% endblock %}
