{% extends 'registration/base_registration.html' %}

{% block mainsection %}
    <div class="Article">
        <div class="ArticleHeader">
            <h3><i class="fa-solid fa-circle-user"></i> Profil utilisateur</h3>
        </div>
        <div class="ArticleContent">
            <div class="profile-info">
                <div class="profile-section">
                    <h4><i class="fa-solid fa-id-card"></i> Informations personnelles</h4>
                    <div class="info-grid">
                        <div class="info-item">
                            <label><i class="fa-solid fa-circle-user"></i> Username</label>
                            <span>{{ user.username }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-user"></i> Prénom</label>
                            <span>{{ user.first_name }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-users"></i> Nom de famille</label>
                            <span>{{ user.last_name }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-envelope"></i> Courriel</label>
                            <span>{{ user.email }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-clock-rotate-left"></i> Dernière connexion</label>
                            <span>{{ user.last_login }}</span>
                        </div>
                    </div>
                </div>

                <div class="profile-section">
                    <h4><i class="fa-solid fa-shield-halved"></i> Permissions</h4>
                    <div class="permissions-grid">
                        <div class="permission-group">
                            <label><i class="fa-solid fa-box"></i> Package</label>
                            <div class="permission-icons">
                                {% if perms.pack.view_packageentry %}
                                    <i class="fa-solid fa-eye perm" title="Voir les packages"></i>
                                {% else %}
                                    <i class="fa-solid fa-eye-slash noperm" title="Pas d'accès aux packages"></i>
                                {% endif %}
                                {% if perms.pack.add_packageentry %}
                                    <i class="fa-solid fa-file-arrow-up perm" title="Ajouter des packages"></i>
                                {% else %}
                                    <i class="fa-solid fa-file-arrow-up noperm" title="Pas d'ajout de packages"></i>
                                {% endif %}
                                {% if perms.pack.delete_packageentry %}
                                    <i class="fa-solid fa-ban perm" title="Supprimer des packages"></i>
                                {% else %}
                                    <i class="fa-solid fa-ban noperm" title="Pas de suppression de packages"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="permission-group">
                            <label><i class="fa-solid fa-user"></i> User</label>
                            <div class="permission-icons">
                                {% if perms.auth.view_user %}
                                    <i class="fa-solid fa-eye perm" title="Voir les utilisateurs"></i>
                                {% else %}
                                    <i class="fa-solid fa-eye-slash noperm" title="Pas d'accès aux utilisateurs"></i>
                                {% endif %}
                                {% if perms.auth.delete_user %}
                                    <i class="fa-solid fa-pen-to-square perm" title="Éditer les utilisateurs"></i>
                                {% else %}
                                    <i class="fa-solid fa-pen-to-square noperm"
                                       title="Pas d'édition des utilisateurs"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-actions">
                    <a class="btn btn-primary" href="{% url 'password' %}">
                        <i class="fa-solid fa-key"></i>
                        Changer le mot de passe
                    </a>
                    <a class="btn btn-primary" href="{% url 'profile_edit' %}">
                        <i class="fa-solid fa-user-pen"></i>
                        Éditer le profil
                    </a>
                </div>
            </div>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                Retour
            </a>
        </div>
    </div>
{% endblock %}
