{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Article">
        <div class="ArticleHeader">
            <h3><i class="fa-solid fa-circle-user"></i> {% trans 'User profile' %}</h3>
        </div>
        <div class="ArticleContent">
            <div class="profile-info">
                <div class="profile-section">
                    <h4><i class="fa-solid fa-id-card"></i> {% trans 'Personal information' %}</h4>
                    <div class="info-grid">
                        <div class="info-item">
                            <label><i class="fa-solid fa-circle-user"></i> {% trans 'Username' %}</label>
                            <span>{{ user.username }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-user"></i> {% trans 'First name' %}</label>
                            <span>{{ user.first_name }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-users"></i> {% trans 'Last name' %}</label>
                            <span>{{ user.last_name }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-envelope"></i> {% trans 'Email' %}</label>
                            <span>{{ user.email }}</span>
                        </div>
                        <div class="info-item">
                            <label><i class="fa-solid fa-clock-rotate-left"></i> {% trans 'Last login' %}</label>
                            <span>{{ user.last_login }}</span>
                        </div>
                    </div>
                </div>

                <div class="profile-section">
                    <h4><i class="fa-solid fa-shield-halved"></i> {% trans 'Permissions' %}</h4>
                    <div class="permissions-grid">
                        <div class="permission-group">
                            <label><i class="fa-solid fa-box"></i> {% trans 'Package' %}</label>
                            <div class="permission-icons">
                                {% if perms.pack.view_packageentry %}
                                    <i class="fa-solid fa-eye perm" title="{% trans 'View packages' %}"></i>
                                {% else %}
                                    <i class="fa-solid fa-eye-slash noperm" title="{% trans 'No package access' %}"></i>
                                {% endif %}
                                {% if perms.pack.add_packageentry %}
                                    <i class="fa-solid fa-file-arrow-up perm" title="{% trans 'Add packages' %}"></i>
                                {% else %}
                                    <i class="fa-solid fa-file-arrow-up noperm"
                                       title="{% trans 'No package addition' %}"></i>
                                {% endif %}
                                {% if perms.pack.delete_packageentry %}
                                    <i class="fa-solid fa-ban perm" title="{% trans 'Delete packages' %}"></i>
                                {% else %}
                                    <i class="fa-solid fa-ban noperm" title="{% trans 'No package deletion' %}"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="permission-group">
                            <label><i class="fa-solid fa-user"></i> {% trans 'User' %}</label>
                            <div class="permission-icons">
                                {% if perms.auth.view_user %}
                                    <i class="fa-solid fa-eye perm" title="{% trans 'View users' %}"></i>
                                {% else %}
                                    <i class="fa-solid fa-eye-slash noperm" title="{% trans 'No user access' %}"></i>
                                {% endif %}
                                {% if perms.auth.delete_user %}
                                    <i class="fa-solid fa-pen-to-square perm" title="{% trans 'Edit users' %}"></i>
                                {% else %}
                                    <i class="fa-solid fa-pen-to-square noperm"
                                       title="{% trans 'No user editing' %}"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-actions">
                    <a class="btn btn-primary" href="{% url 'password' %}">
                        <i class="fa-solid fa-key"></i>
                        {% trans 'Change password' %}
                    </a>
                    <a class="btn btn-primary" href="{% url 'profile_edit' %}">
                        <i class="fa-solid fa-user-pen"></i>
                        {% trans 'Edit profile' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="ArticleFooter">
            <a class="btn" href="{% url 'index' %}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {% trans 'Back' %}
            </a>
        </div>
    </div>
{% endblock %}
